<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divulgação de Landing Pages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bem Vindo A SF Landing Pages</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="landing-pages">
            <h2>Landing Pages</h2>
            <p>Você Deseja Ter Sua Marca Reconhecida?</p>
            <div class="landing-pages-container">
                <div class="landing-page">
                    <h3>Landing Page 1</h3>
                    <p>Descrição da Landing Page 1.</p>
                    <a href="#">Visitar</a>
                </div>
                <div class="landing-page">
                    <h3>Landing Page 2</h3>
                    <p>Descrição da Landing Page 2.</p>
                    <a href="#">Visitar</a>
                </div>
            </div>
            <!-- Adicione mais landing pages conforme necessário -->
        </section>
    </main>
    
</body>
</html>